name: Dart CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
     with:
         java-version: '12.x'
      - uses: subosito/flutter-action@v1
     with:
       flutter-version: '1.7.8+hotfix.4'
      - uses: actions/checkout@v1
    - name: Install dependencies
      run: flutter pub get
    - name: Run tests
      run: flutter pub run test
